.navbar {
    align-items: center;
    background-color: #262185;
    height: 10%;
    color: white;
}

.heading {
    position: absolute;
    margin: 3%;
    margin-right: auto;

}

.input {
    margin-top: 4px;
    margin-bottom: 4px;
}

.credentials {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 3%;
    margin-left: 16%;
}

.separator {
    font-size: xx-large;
}

.username {
    font-size: large;
}